  include *.rst
  include *.txt
  include *.py
  include LICENSE
  include requirements.txt
  include beprof/tests/requirements-test.txt
  recursive-include docs *.py
  recursive-include docs *.rst
  recursive-include beprof *.py
  recursive-include beprof/tests *.py
  include wercker.yml
  include pytest.ini

  exclude .gitkeep
  exclude .gitconfig
  exclude tox.ini
  exclude .travis.yml
  exclude appveyor.yml
  prune .travis
  prune install_deps.sh
